<!doctype html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width" initial-scale=1/>
    <link rel="stylesheet" href="/assets/css/MyStyleForUsers.css">

</head>

<body align="center">

    <h1>Voici la liste des utilisateurs</h1>
    <label for="search">Rechercher un utilisateur  :</label>
    <input type="text" id="search" placeholder="Pseudonyme" onkeyup="searchchange()"> <br><br><br>

    <ul id="myUL">
    {% for users in userslist %}
        <div class="boite">

            <strong>Pseudonyme : <li>{{ users.PSEUDO }}</li></strong>
                <strong>Rôle : {{ users.NAME|default('Utilisateur') }}</strong>

                <a class="btnmodifyadmin" href="/admin/modify/{{ users.ID_USER }}">Modifier l'utilisateur</a>
                <a class="btndeleteadmin" href="/admin/delete/{{ users.ID_USER }}">Supprimer le compte</a>

        </div>
    {% endfor %}
    </ul>

    <script src="/assets/js/search.js"></script>

</body>
</html>