{% extends"base.html.twig" %}

{% block title %}Movies - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/mystyleForMovie.css">
{% endblock %}

{% block body %}
    <h1>Ajout d'un film</h1>

    <form name="addMovie" method="post" action="?controller=Movie&action=AddMovie">
        <div class="form-row">
            <div class="col-3">
                <input class="form-control" id="Name" type="text" name="Name" placeholder="Name" required>
            </div>
            <div class="col">
                <input class="form-control" id="Poster" type="text" name="Poster" placeholder="Link Poster" required>
            </div>
            <div class="col">
                <input class="form-control" id="Trailer" type="text" name="Trailer" placeholder="Link Trailer">
            </div>
        </div>

        <div class="form-row">
            <div class="col-3">
                <input class="form-control" id="Origin" type="text" name="Origin" placeholder="Origin">
            </div>
            <div class="col">
                <input class="form-control" id="VO" type="text" name="VO" placeholder="VO">
            </div>
            <div class="col">
                <input class="form-control" id="Genre" type="text" name="Genre" placeholder="Genre">
            </div>
            <div class="col">
                <input class="form-control" id="ReleaseDate" type="date" name="ReleaseDate" placeholder="ReleaseDate">
            </div>
            <div class="col">
                <input class="form-control" id="Runtime" type="number" name="Runtime" placeholder="Runtime" required>
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <input class="form-control" id="Actors" type="text" name="Actors" placeholder="Actors">
            </div>
            <div class="col">
                <input class="form-control" id="Director" type="text" name="Director" placeholder="Director">
            </div>
            <div class="col">
                <input class="form-control" id="Production" type="text" name="Production" placeholder="Production">
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <input class="form-control" id="Nomination" type="text" name="Nomination" placeholder="Nomination">
            </div>
            <div class="col">
                <input class="form-control" id="Synopsis" type="text" name="Synopsis" placeholder="Synopsis" required>
            </div>
            <div class="col">

                <input id="DVD" name="DVD" type="checkbox" name="DVD">
                <label for="DVD">Dispo en DVD</label>
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <button class="btn btn-primary mb-2" type="submit">Submit Movie</button>
            </div>
        </div>

    </form>
{% endblock %}

