{% extends"base-admin.html.twig" %}

{% block title %}Movies - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/mystyleForMovie.css">
{% endblock %}

{% block body %}
    <h1>Ajout d'un film</h1>
    <form name="addMovie" method="post" action="?controller=Movie&action=AddMovie">
        <label for="Name">Name</label><input class="form-control" id="Name" type="text" name="Name" placeholder="Name" required>
        <label for="Poster">Poster</label><input class="form-control" id="Poster" type="text" name="Poster" placeholder="Link Poster" required>
        <label for="Trailer">Trailer</label><input class="form-control" id="Trailer" type="text" name="Trailer" placeholder="Link Trailer">
        <label for="Origin">Origin</label><input class="form-control" id="Origin" type="text" name="Origin" placeholder="Origin">
        <label for="VO">VO</label><input class="form-control" id="VO" type="text" name="VO" placeholder="VO">
        <label for="Genre">Genre</label><input class="form-control" id="Genre" type="text" name="Genre" placeholder="Genre">
        <label for="ReleaseDate">ReleaseDate</label><input class="form-control" id="ReleaseDate" type="date" name="ReleaseDate" placeholder="ReleaseDate">
        <label for="Runtime">Runtime</label><input class="form-control" id="Runtime" type="number" name="Runtime" placeholder="Runtime" required>
        <label for="Actors">Actors</label><input class="form-control" id="Actors" type="text" name="Actors" placeholder="Actors">
        <label for="Director">Director</label><input class="form-control" id="Director" type="text" name="Director" placeholder="Director">
        <label for="Production">Production</label><input class="form-control" id="Production" type="text" name="Production" placeholder="Production">
        <label for="Nomination">Nomination</label><input class="form-control" id="Nomination" type="text" name="Nomination" placeholder="Nomination">
        <label for="Synopsis">Synopsis</label><input class="form-control" id="Synopsis" type="text" name="Synopsis" placeholder="Synopsis" required>
        <input id="DVD" name="DVD" type="checkbox" class="checkbox">
        <label for="DVD">Dispo en DVD</label>
        <div class="form-row">
            <div class="col">
                <button class="btn btn-primary mb-2" type="submit">Submit Movie</button>
            </div>
        </div>
    </form>
{% endblock %}

