{% extends"base.html.twig" %}

{% block title %}Movies - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/mystyleForMovie.css">
{% endblock %}

{% block body %}
    <h1>Liste des Films</h1>
    {% for movie in movieList %}
        <h2>{{ movie.NAME }}</h2>
        <p>{{ movie.RELEASE_DATE }}</p>
        <p>{{ movie.SYNOPSIS }}</p>
        <hr>
    {% endfor %}
{% endblock %}
