table, tbody, td, tr {
  border-collapse: collapse;
  border: 1px solid black;
}

.container-flex {
  display: flex;
}

.bg-noir {
  background-color: #000;
}

table{
  tr{
    border-width: 1px;
  }
}