<!doctype html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width" initial-scale=1/>

</head>

<body>

<form name="addInfoMovie" method="post" action="?controller=InfoMovie&action=updateInfoMovie&param={{InfoMovie.ID_INFO }}">

    <input id="Rate" type="number" name="Rate" placeholder="Note" value="{{ InfoMovie.RATE }}"><br><br>
    {#    <input id="Comment" type="textarea" name="Comment" placeholder="Commentaire" required rows="5" cols="33"><br><br>#}
    <textarea id="Comment" name="Comment" rows="5" cols="33" >{{ InfoMovie.COMMENT}}</textarea>
    <input type="checkbox" id="share" name="Share" {% if InfoMovie.Share == 1%} checked {% endif %}>
    <label for="Share">actuellement prêté</label>

    <button id="btnAdComment" type="submit">Envoyer</button><br><br>

</form>

<!-- Pour afficher le input en rouge -->
<!-- <script src="assets/js/formulaire.js"></script> -->

</body>
</html>