<!doctype html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width" initial-scale=1/>

</head>

<body>

    <form name="addUser" method="post" action="?controller=User&action=AddUser">

        <input id="Pseudo" type="text" name="Pseudo" placeholder="Pseudo" value="{{ Pseudo }}" required><br><br>
        <input id="Password" type="text" name="Password" placeholder="Mot de passe" required><br><br>
        <input id="Passwordcheck" type="text" name="Passwordcheck" placeholder="Vérification mot de passe" required><br><br>
        <input id="Email" type="email" name="Email" placeholder="Votre email" value="{{ Email }}" required><br><br>
        <input id="Emailcheck" type="email" name="Emailcheck" placeholder="Vérification email" required><br><br>

        <button id="btnsignup" type="submit">Inscription</button><br><br>

    </form>

    <!-- Pour afficher le input en rouge -->
    <!-- <script src="assets/js/formulaire.js"></script> -->

</body>
</html>