{% extends"base.html.twig" %}

{% block title %}Movies - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/MyStyleForUsers.css">
{% endblock %}

{% block body %}

<div id="FormSignInUp">

    <form name="addUser" method="post" action="/signin">
        <h1>Inscription</h1>

        <input id="Pseudo" type="text" name="Pseudo" placeholder="Pseudo" value="{{ Pseudo }}" required>

        <input id="Password" type="password" name="Password" placeholder="Mot de passe" required>

        <input id="Passwordcheck" type="password" name="Passwordcheck" placeholder="Vérification mot de passe" required>

        <input id="Email" type="email" name="Email" placeholder="Votre email" value="{{ Email }}" required>

        <input id="Emailcheck" type="email" name="Emailcheck" placeholder="Vérification email" required>

        <button id="btnsignup" type="submit">Inscription</button>

        <a href="/login">Déjà un compte ? Connectez vous !</a>

    </form>
</div>

{% endblock %}

{% block javascript %}
    <script src="/assets/js/formulaire.js"></script>
{% endblock %}