<!doctype html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width" initial-scale=1/>

</head>

<body>

<form name="addUser" method="post" action="?controller=User&action=DeleteUser">

    <input id="Pseudo" type="text" name="Pseudo" placeholder="Pseudo" value="{{ Pseudo }}" required><br><br>

    <button id="btndelete" type="submit">Supprimer</button><br><br>

</form>

<!-- Pour afficher le input en rouge -->
<!-- <script src="assets/js/formulaire.js"></script> -->

</body>
</html>