<!doctype html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width" initial-scale=1/>

</head>

<body>

<p class="ErreurAcces">
    Vous n'êtes pas autorisé à réaliser cette opération ! <br>
    Veuillez vous connecter en administrateur !

</p>

</body>
</html>