<!doctype html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width" initial-scale=1/>

</head>

<body>

<form name="addUser" method="post" action="?controller=User&action=LoginUser">

    <input type="text" name="Pseudo" placeholder="Pseudo"><br><br>
    <input type="text" name="Password" placeholder="Mot de passe"><br><br>

    <input type="submit" value="Connexion"><br><br>

</form>

</body>
</html>