<!doctype html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width" initial-scale=1/>

</head>

<body>

    <form name="addUser" method="post" action="?controller=User&action=GetOne">

        <input id="Pseudo" type="text" name="Pseudo" placeholder="Pseudo" value="{{ Pseudo }}" required><br><br>

        <button id="btnsignup" type="submit">Inscription</button><br><br>

    </form>

</body>
</html>